/* Header */
.header {
  background-color: rgb(1, 127, 255);
}

.header__navbar--top {
  height: var(--header-height-top);
  padding-top: 18px;
  padding-bottom: 8px;
}

.header--with--search {
  height: 100%;
}

.header__logo--search {
  display: flex;
  align-items: center;
}

.header__logo--menu {
  width: 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__logo {
  cursor: pointer;
}

.menu__logo--img {
  width: 60px;
  height: 40px;
}

.menu__logo--img:hover {
  opacity: 0.95;
}

.menu__product {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.menu__product--btn {
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.menu__product--img {
  width: 32px;
  height: 32px;
}

.menu__product--category {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-transform: capitalize;
  color: var(--white-color);
}

.menu__product--category--text {
  margin: 0;
  font-size: 1.1em;
  font-weight: 400;
}

.menu__product--category--product {
  display: flex;
  align-items: center;
  font-size: 1.3em;
  font-weight: 500;
}

.menu__product--category--product span {
  margin-right: 5px;
}

.menu__product--category--icon {
  font-size: 0.6em;
}

.header__search {
  display: flex;
  justify-content: flex-start;
  flex-basis: 713px;
  margin-left: 20px;
}

.header__search-input-wrap {
  flex: 1;
  box-shadow: rgb(98 98 98 / 50%) 0px 1px 2px 0;
}

.header__search-input {
  width: 100%;
  padding: 10px 0 10px 10px;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
  outline: none;
  border-radius: 2px 0px 0px 2px;
}

.header__search--btn {
  flex-basis: 120px;
  font-weight: 500;
  font-size: 1.3em;
  background-color: RGB(13, 93, 182);
  border: none;
  border-radius: 0px 2px 2px 0px;
  color: var(--white-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 20px 0 20px;
  cursor: pointer;
}

.header__search--btn--icon {
  font-size: 1.4em;
}

.header__account--cart {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: var(--white-color);
  flex-grow: 1;
  position: relative;
}

.header__account--create {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-basis: 140px;
  cursor: pointer;
  transition: all 2s linear 1s;
}

.header__account--create:hover .header__account--choose {
  display: block;
}

.header__user {
  font-size: 2em;
}

.header__user--icon {
  font-weight: 500;
  font-size: 1.3em;
}

.header__account--register,
.header__account--down {
  margin: 0;
  text-transform: capitalize;
}

.header__account--register {
  font-weight: 400;
  font-size: 1.1em;
}

.header__account--down {
  font-weight: 500;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.header__account--down span {
  margin-left: 4px;
}

.header__account--icon {
  font-size: 0.6em;
}

.header__account--choose {
  position: absolute;
  background-color: var(--white-color);
  width: auto;
  min-width: 240px;
  list-style: none;
  border: 1px solid rgb(239, 239, 239);
  border-radius: 0px 0px 3px 3px;
  box-shadow: rgb(0 0 0 / 18%) 0px 6px 12px 0px;
  top: 120%;
  left: -10%;
  display: none;
}

.header__account--choose:before {
  content: "";
  position: absolute;
  cursor: pointer;
  right: 40%;
  top: -24px;
  border-style: solid;
  border-width: 16px 20px;
  border-color: transparent transparent var(--white-color) transparent;
}

.header__account--choose:after {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 100%;
  bottom: 100%;
  height: 10px;
}

.header__account--list {
  margin: 20px 0;
}

.header__account--item {
  text-align: center;
  background: #fdd734;
  margin: 7px 12px;
  padding: 15px 5px;
  text-shadow: rgb(171 171 171) 0px 0px 1px;
  border-radius: 4px;
}

.header__account--item:nth-of-type(3) {
  background: #3b5999;
}

.header__account--item:nth-of-type(4) {
  background: #df4a32;
}

.header__account--item:nth-of-type(5) {
  background: #0f8edd;
}

.header__account--item--link {
  color: rgb(74, 74, 74);
  display: inline-block;
  font-weight: 400;
  font-size: 1.4em;
  height: 100%;
}

.header__account--item--icon {
  font-size: 2em;
  flex-basis: 30px;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}

.header__account--item--app {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__account--icon--app {
  font-size: 1.3em;
}

.header__account--link--app {
  color: #ffffff;
}
.header__cart {
  align-self: stretch;
  cursor: pointer;
}

.header__cart--icon {
  font-weight: 400;
  font-size: 3em;
  position: relative;
}

.header__cart--number {
  position: absolute;
  color: rgb(36, 36, 36);
  background: rgb(253, 216, 53);
  border-radius: 40px;
  font-weight: 500;
  font-size: 0.6em;
  padding: 0px 7px;
  text-align: center;
  height: 20px;
  top: -5px;
  left: 20px;
  cursor: pointer;
}

.header__cart--text {
  font-weight: 400;
  font-size: 1.2em;
}

.header__navbar--bottom {
  height: var(--header-height-bottom);
}

.header__navbar--freeship {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__navbar--ship {
  flex-basis: 260px;
}

.header--ship--img {
  width: 83px;
  height: 12px;
}

.header--ship--img:hover,
.header__nav--link:hover,
.header__buy--text:hover {
  opacity: 0.95;
  cursor: pointer;
}

.header__navbar--nav {
  flex-grow: 1;
}

.header__nav--list {
  margin: 0;
}

.header__nav--item {
  display: inline-block;
}

.header__nav--link {
  padding: 15px 10px 15px 0;
  color: var(--white-color);
  font-weight: 400;
  font-size: 1.1em;
}

.header__buy--text {
  color: var(--white-color);
  font-weight: 400;
  font-size: 1.1em;
}
